<md-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item [routerLink]="['/devices']"> Devices </button>
      <button md-menu-item [routerLink]="['/about']"> About </button>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      Menu
      <md-icon>more_vert</md-icon>
    </button>
  </span>
</md-toolbar>

<router-outlet></router-outlet>

