<div class="row">
  <div class="col-sm">
    <br>
      <form (ngSubmit)="onSubmit()" class="form-inline">
        <label for="query" class="mr-sm-2">Search</label>
        <input required [(ngModel)]="query" type="text" name='query' class="form-control mb-2 mr-sm-2 mb-sm-0" id="query" placeholder="Event text">
        <button type="submit" class="mr-sm-1 btn btn-primary">Search</button>
        <button (click)="clear()" class="btn btn-secondary">Clear</button>
      </form>
      <br>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Value</th>
          <th>Text</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events, let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{event.name}}</td>
          <td>{{event.value}}</td>
          <td>{{event.text}}</td>
          <td>{{event.date | date:'short'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>